<h1 class="d-flex justify-content-center bg-info "><span class="text-success">RxJS</span></h1>
<!-- {{userData|json}} -->
<div class="container bg-light">
    <!-- <form [formGroup]="testForm" (ngSubmit) = "onSubmit(testForm.value)"> -->
    <form [formGroup]="testForm" >
        <div class="row p-2 form-group">
            <div class="col-2 form-group">
                <label for="">USER ID</label>
            </div>
            <div class="col-2">
                <input type="number" class="form-control" formControlName="userId">
            </div>
        </div>

        <div *ngIf="!testForm.get('userId')?.valid && 
                (testForm.get('userId')?.dirty || testForm.get('userId')?.touched)" class="alert alert-danger w-25">

                <div *ngIf="testForm.get('userId')?.errors?.required" >
                    USER ID is required.
                </div>
        </div>
        
        <div class="row p-2">
            <div class="col-2">
                <label for="">FIRST NAME</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="firstName">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-2">
                <label for="">LAST NAME</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="lastName">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-2">
                <label for="">PHONE NUMBER</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="phoneNumber">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-2">
                <label for="">EMAIL ID</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="mailId">
            </div>
        </div>

        <div class="" style="padding-left: 125px; padding-top: 10px;">
            <button class="btn btn-primary d-flex justify-content-center " type="button" (click)="postData()" [disabled]="!testForm.valid">Submit</button>
        </div>
        
    </form>
</div>

<div class="container " style="margin-top:50px">
    
    <div class="row">
        <div class="col-2"  >
            <!-- <button class="btn btn-info" [routerLink]="'/ValidateComponent'" >Validate</button> -->
            <button class="btn btn-info" (click)="validateScreen()">Validate</button>
        </div>

        <div class="col-10 " style="padding-left: 925px; position:relative" >
            <!-- <button class="btn btn-info" [routerLink]="'/ValidateComponent'" >Validate</button> -->
            <button class="btn btn-info " (click)="filterEnable=!filterEnable" >Filter Configuration</button>
               <div style=" position:absolute; background-color: white; z-index: 2;" *ngIf="filterEnable">
                     <table class="table table-bordered table-striped table-success" >
                        <thead>
                            <tr>
                                <th>Selection</th>
                                <th>Filter Label</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let column of columnData">
                                <th>
                                    <input type="checkbox" [(ngModel)]="column.isChecked"> {{column.name}}
                                </th>
                                <th>
                                    <select [(ngModel)]="column.selectedData">
                                        <option *ngFor = "let dropdown of column.data">{{dropdown}}</option>
                                    </select>
                                </th>
                            </tr>
                                                      
                        </tbody>
                     </table>
                     <div class="d-flex justify-content-center">
                         <button class="btn btn-info" (click)="applyFilter()">Apply</button>
                     </div>
               </div>
        </div>
    </div>

    <div class="col">
        <table class="table table-bordered table-striped table-success">
            <thead>
                <tr>
                    <th>Selection</th>
                    <th>USER ID</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>PHONE NUMBER</th>
                    <th>MAIL ID</th>
                    <th>Edit / Update</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let data of userData?.users"> -->
                <tr *ngFor="let data of userData ">
                    <th>
                        <input type="checkbox"  [(ngModel)]="data.isSelected"  >
                    </th>
                    <td>{{ data.userId }}</td>
                    <td>{{ data.firstName }}</td>
                    <td>{{ data.lastName }}</td>
                    <td>{{ data.phoneNumber }}</td>
                    <td>{{ data.emailAddress }}</td>
                    <td><button class="btn btn-info" (click)="update($event,data)">Update</button></td>
                    <td>
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn btn-info dropdown-toggle"
                                    aria-controls="dropdown-basic">
                              <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                role="menu" aria-labelledby="button-basic">
                              <li role="menuitem"><a class="dropdown-item" href="">Action</a></li>
                              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                              <li class="divider dropdown-divider"></li>
                              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                              </li>
                            </ul>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- RxJs Operators -->
<div class="container p-5 ">
    
    <button class="btn-danger"  (click)='mm()'>mergeMap </button>
    <button class="btn-success" (click)='fm()'>flatMap</button>
    <button class="btn-primary" (click)='cm()'>concatMap</button>
    <button class="btn-info"    (click)='sm()'>switchMap</button>
    <button class="btn-secondary" (click)='em()'>exhaustMap</button>
    <button class="btn-danger"  (click)='of()'>of</button>
    <button class="btn-success"  (click)='from()'>from</button>
    <button class="btn-primary"  (click)='fj()'>forkjoin</button>
</div>

