<h1 class="d-flex justify-content-center bg-info "><span class="text-success">RxJS</span></h1>
<!-- {{userData|json}} -->
<div class="container bg-light">
    <!-- <form [formGroup]="testForm" (ngSubmit) = "onSubmit(testForm.value)"> -->
    <form [formGroup]="testForm" >
        <div class="row p-2 form-group">
            <div class="col-2 form-group">
                <label for="">USER ID</label>
            </div>
            <div class="col-2">
                <input type="number" class="form-control" formControlName="userId">
            </div>
        </div>

        <div *ngIf="!testForm.get('userId')?.valid && 
                (testForm.get('userId')?.dirty || testForm.get('userId')?.touched)" class="alert alert-danger w-25">

                <div *ngIf="testForm.get('userId')?.errors?.required" >
                    USER ID is required.
                </div>
        </div>
        
        <div class="row p-2">
            <div class="col-2">
                <label for="">FIRST NAME</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="firstName">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-2">
                <label for="">LAST NAME</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="lastName">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-2">
                <label for="">PHONE NUMBER</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="phoneNumber">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-2">
                <label for="">EMAIL ID</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="mailId">
            </div>
        </div>

        <div class="" style="padding-left: 125px; padding-top: 10px;">
            <button class="btn btn-primary d-flex justify-content-center " type="button" (click)="postData()" [disabled]="!testForm.valid">Submit</button>
        </div>
        
    </form>
</div>

<div class="container " style="margin-top:50px">
    <div class="col">

        <table class="table table-bordered table-striped table-success">
            <thead>
                <tr>
                    <th>USER ID</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>PHONE NUMBER</th>
                    <th>MAIL ID</th>
                    <th>Edit / Update</th>
                    
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let data of userData?.users"> -->
                <tr *ngFor="let data of userData ">
                    <td>{{ data.userId }}</td>
                    <td>{{ data.firstName }}</td>
                    <td>{{ data.lastName }}</td>
                    <td>{{ data.phoneNumber }}</td>
                    <td>{{ data.emailAddress }}</td>
                    <td><button class="btn btn-info" (click)="update($event,data)">Update</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- RxJs Operators -->
<div class="container ">
    
    <button class="btn-danger"  (click)='mm()'>mergeMap </button>
    <button class="btn-success" (click)='fm()'>flatMap</button>
    <button class="btn-primary" (click)='cm()'>concatMap</button>
    <button class="btn-info"    (click)='sm()'>switchMap</button>
    <button class="btn-secondary" (click)='em()'>exhaustMap</button>
    <button class="btn-danger"  (click)='of()'>of</button>
    <button class="btn-success"  (click)='from()'>from</button>
    <button class="btn-primary"  (click)='fj()'>forkjoin</button>
</div>