
<h3><i class="material-icons" routerLink="" routerLinkActive="active">arrow_back_ios</i><a routerLink="" routerLinkActive="active">Back</a></h3>


<div id="outerContainer">
  <div class="pdf-container">
    <pdf-viewer
      [src]="'assets/pdf-test.pdf'"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      style="width: 750px; height: 500px"
    ></pdf-viewer>
  </div>
</div>

{{src1}}